#root {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

body,
h1,
p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body{
  height: 100vh;
  background-color: #202345;
}

@media screen and (max-width: 768px) {
  #root {
    height: 100%;
    overflow: hidden;
    background-size: 160% 70%;
    background-position: top;
  }
}
